In [114]:
import pandas as pd

各大學深耕計畫經費表：

In [206]:
df = pd.read_csv('University Fund.csv')
df

   Number        Name     Fund
0    0001      國立政治大學   28,579
1    0002      國立清華大學  100,000
2    0003      國立臺灣大學  180,000
3    0004    國立臺灣師範大學   20,690
4    0005      國立成功大學  110,000
5    0006      國立中興大學   35,202
6    0007      國立交通大學  100,000
7    0008      國立中央大學   41,546
8    0009      國立中山大學   25,303
9    0012    國立臺灣海洋大學   13,529
10   0013      國立中正大學   16,391
11   0014    國立高雄師範大學    4,074
12   0015    國立彰化師範大學    5,816
13   0016      國立陽明大學   34,190
14   0017      國立臺北大學    7,805
15   0018      國立嘉義大學    5,745
16   0019      國立高雄大學    4,519
17   0020      國立東華大學    5,163
18   0021    國立暨南國際大學    7,179
19   0028    國立臺北藝術大學    4,818
20   0029    國立臺灣藝術大學    3,188
21   0030      國立臺東大學    5,007
22   0031      國立宜蘭大學    5,424
23   0032      國立聯合大學    4,476
24   0035    國立臺南藝術大學    1,361
25   0036      國立臺南大學    4,596
26   0037    國立臺北教育大學    5,202
27   0039    國立臺中教育大學    4,547
28   0044      國立體育大學    3,996
29   0048      國立金門大學    3,435
30   0049  國立臺灣體育運動大學    3,019
31   0052      國立屏東大學    6,774
32   1001        東海大學   12,358
33   1002        輔仁大學    8,290
34   1003        東吳大學    8,968
35   1004        中原大學   13,558
36   1005        淡江大學    8,907
37   1006      中國文化大學    7,231
38   1007        逢甲大學   14,820
39   1007        逢甲大學   14,820
40   1008        靜宜大學    8,672
41   1009        長庚大學   16,914
42   1010        元智大學    8,377
43   1011        中華大學    4,732
44   1012        大葉大學    6,964
45   1013        華梵大學    2,887
46   1014        義守大學    6,854
47   1015        世新大學    6,016
48   1016        銘傳大學    7,368
49   1017        實踐大學    6,632
50   1019      高雄醫學大學   10,052
51   1020        南華大學    6,012
52   1021        真理大學    2,154
53   1022        大同大學    3,920
54   1027        慈濟大學    5,375
55   1028      臺北醫學大學   26,740
56   1029      中山醫學大學    5,874
57   1033        長榮大學    5,397
58   1035      中國醫藥大學   20,226
59   1039        玄奘大學    3,917
60   1048        亞洲大學    6,370
61   1049        開南大學    1,871
62   1050        佛光大學    4,842
63   1058        明道大學    1,668
64   1067      台灣首府大學    1,114
65   1079        康寧大學    1,583
66   1125    中信金融管理學院      889
67   1176   稻江科技暨管理學院      202
68   1195       馬偕醫學院    4,306
69   1196      法鼓文理學院      381
70   1R04     一貫道天皇學院      517
71   3002      臺北市立大學    4,440
72   3002      臺北市立大學    4,440

In [208]:
df_fund = df.groupby(['Name'])['Fund'].sum().reset_index()
df_fund

          Name          Fund
0      一貫道天皇學院           517
1         世新大學         6,016
2     中信金融管理學院           889
3         中原大學        13,558
4       中國文化大學         7,231
5       中國醫藥大學        20,226
6       中山醫學大學         5,874
7         中華大學         4,732
8         亞洲大學         6,370
9         佛光大學         4,842
10        元智大學         8,377
11        南華大學         6,012
12      台灣首府大學         1,114
13      國立中央大學        41,546
14      國立中山大學        25,303
15      國立中正大學        16,391
16      國立中興大學        35,202
17      國立交通大學       100,000
18      國立嘉義大學         5,745
19      國立宜蘭大學         5,424
20      國立屏東大學         6,774
21    國立彰化師範大學         5,816
22      國立成功大學       110,000
23      國立政治大學        28,579
24    國立暨南國際大學         7,179
25      國立東華大學         5,163
26      國立清華大學       100,000
27      國立聯合大學         4,476
28    國立臺中教育大學         4,547
29      國立臺北大學         7,805
30    國立臺北教育大學         5,202
31    國立臺北藝術大學         4,818
32      國立臺南大學         4,596
33    國立臺南藝術大學         1,361
34      國立臺東大學         5,007
35      國立臺灣大學       180,000
36    國立臺灣師範大學        20,690
37    國立臺灣海洋大學        13,529
38    國立臺灣藝術大學         3,188
39  國立臺灣體育運動大學         3,019
40      國立金門大學         3,435
41      國立陽明大學        34,190
42      國立體育大學         3,996
43      國立高雄大學         4,519
44    國立高雄師範大學         4,074
45        大同大學         3,920
46        大葉大學         6,964
47        實踐大學         6,632
48        康寧大學         1,583
49        慈濟大學         5,375
50        明道大學         1,668
51        東吳大學         8,968
52        東海大學        12,358
53      法鼓文理學院           381
54        淡江大學         8,907
55        玄奘大學         3,917
56        真理大學         2,154
57   稻江科技暨管理學院           202
58        義守大學         6,854
59      臺北市立大學    4,4404,440
60      臺北醫學大學        26,740
61        華梵大學         2,887
62        輔仁大學         8,290
63        逢甲大學  14,82014,820
64        銘傳大學         7,368
65        長庚大學        16,914
66        長榮大學         5,397
67        開南大學         1,871
68        靜宜大學         8,672
69       馬偕醫學院         4,306
70      高雄醫學大學        10,052

In [210]:
df_fund = df_fund.replace(',','', regex=True)

In [211]:
df_fund['Fund'] = df_fund['Fund'].astype(int)

109年各大學學生人數：

In [119]:
student_109 = pd.read_csv('109 student.csv')

In [120]:
df_student = student_109[['Unnamed: 1', 'Unnamed: 2']]

In [213]:
new_column_names = ['Name', 'Students']
df_student.columns = new_column_names

In [190]:
df_student = df_student.replace(',','', regex=True)

In [200]:
df_student['Students'] = df_student['Students'].astype(int)

In [201]:
df_student.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      820 non-null    object
 1   Students  820 non-null    int32
dtypes: int32(1), object(1)
memory usage: 9.7+ KB

In [194]:
Students = df_student.groupby(['Name'])['Students'].sum().reset_index()
Students

           Name  Students
0          世新大學     11223
1      中信金融管理學院       825
2          中原大學     16405
3        中國文化大學     24788
4        中國科技大學      8815
5        中國醫藥大學      7203
6        中山醫學大學      6833
7        中州科技大學      2668
8        中臺科技大學      8170
9          中華大學      4948
10       中華科技大學      4773
11     中華醫事科技大學      8724
12       亞東技術學院      4388
13         亞洲大學     11421
14   仁德醫護管理專科學校      6515
15         佛光大學      3458
16       修平科技大學      4469
17       健行科技大學     11279
18       僑光科技大學     10610
19     元培醫事科技大學      6186
20         元智大學      8739
21       南亞技術學院      3363
22       南臺科技大學     18024
23         南華大學      5701
24       南開科技大學      3755
25     台北海洋科技大學      4192
26     台南應用科技大學     12363
27       台灣首府大學      1130
28       吳鳳科技大學      5058
29       和春技術學院       688
30       嘉南藥理大學     12234
31       國立中央大學     11938
32       國立中山大學      9706
33       國立中正大學     11128
34       國立中興大學     14974
35       國立交通大學     15182
36     國立勤益科技大學     12134
37       國立嘉義大學     11689
38       國立宜蘭大學      5476
39       國立屏東大學      9027
40     國立屏東科技大學     10818
41     國立彰化師範大學      8453
42       國立成功大學     21773
43       國立政治大學     16351
44     國立暨南國際大學      6016
45       國立東華大學     10008
46       國立清華大學     16917
47     國立澎湖科技大學      3047
48       國立聯合大學      7559
49     國立臺中教育大學      4902
50     國立臺中科技大學     16091
51     國立臺北商業大學      7632
52       國立臺北大學     10080
53     國立臺北教育大學      5885
54     國立臺北科技大學     13837
55     國立臺北藝術大學      3144
56   國立臺北護理健康大學      5338
57       國立臺南大學      5773
58     國立臺南藝術大學      1599
59   國立臺南護理專科學校      1917
60       國立臺東大學      4939
61     國立臺東專科學校      1041
62       國立臺灣大學     32527
63     國立臺灣師範大學     15920
64     國立臺灣戲曲學院       546
65     國立臺灣海洋大學      8905
66     國立臺灣科技大學     11171
67     國立臺灣藝術大學      5545
68   國立臺灣體育運動大學      3122
69     國立虎尾科技大學     11038
70       國立金門大學      4131
71       國立陽明大學      4534
72     國立雲林科技大學      9808
73       國立體育大學      2586
74       國立高雄大學      5741
75     國立高雄師範大學      6845
76     國立高雄科技大學     27438
77     國立高雄餐旅大學      4929
78       大仁科技大學      5389
79         大同大學      4012
80       大同技術學院      1137
81       大漢技術學院       999
82         大葉大學      7770
83     宏國德霖科技大學      5370
84         實踐大學     13216
85   崇仁醫護管理專科學校      3293
86     崇右影藝科技大學      2609
87       崑山科技大學     10537
88       嶺東科技大學     10510
89         康寧大學      3465
90       建國科技大學      6620
91       弘光科技大學     12700
92     德明財經科技大學      7384
93   慈惠醫護管理專科學校      3977
94         慈濟大學      3383
95       慈濟科技大學      3163
96       敏實科技大學       771
97   敏惠醫護管理專科學校      3936
98       文藻外語大學      9012
99   新生醫護管理專科學校      6064
100      明志科技大學      4492
101      明新科技大學     11886
102        明道大學      2525
103      景文科技大學      6656
104      朝陽科技大學     15050
105      東南科技大學      5168
106        東吳大學     15374
107      東方設計大學      2072
108        東海大學     15710
109  樹人醫護管理專科學校      7279
110      樹德科技大學     10496
111      正修科技大學     17473
112      法鼓文理學院       302
113        淡江大學     24209
114        玄奘大學      2408
115      環球科技大學      3673
116        真理大學      5255
117   稻江科技暨管理學院       276
118   經國管理暨健康學院      4221
119      美和科技大學      6300
120        義守大學     14351
121  耕莘健康管理專科學校      4698
122  聖母醫護管理專科學校      2227
123     聖約翰科技大學      2391
124  育英醫護管理專科學校      1991
125      育達科技大學      3962
126      致理科技大學     11575
127    臺北城市科技大學      9858
128      臺北市立大學      7986
129      臺北醫學大學      5993
130      臺灣觀光學院       268
131      華夏科技大學      4043
132        華梵大學      1165
133      萬能科技大學      9691
134      蘭陽技術學院       513
135        輔仁大學     25651
136      輔英科技大學      9791
137        逢甲大學     21059
138      遠東科技大學      4724
139      醒吾科技大學      7943
140        銘傳大學     18614
141        長庚大學      6811
142      長庚科技大學      6333
143        長榮大學      8248
144        開南大學      5587
145        靜宜大學     12018
146       馬偕醫學院       816
147  馬偕醫護管理專科學校      4106
148      高苑科技大學      3510
149      高雄醫學大學      6490
150      黎明技術學院      5191
151      龍華科技大學     11606

In [218]:
df_fund['Fund'] = df_fund['Fund']*10000
result = pd.merge(df_fund, Students)
result['Fund/Students'] = result['Fund']/result['Students']
result

          Name        Fund  Students  Fund/Students
0         世新大學  -134217728     11223  -1.195917e+04
1     中信金融管理學院    42991616       825   5.211105e+04
2         中原大學  1902116864     16405   1.159474e+05
3       中國文化大學   552599552     24788   2.229303e+04
4       中國醫藥大學 -1239416832      7203  -1.720695e+05
5       中山醫學大學    85983232      6833   1.258353e+04
6         中華大學   465567744      4948   9.409211e+04
7         亞洲大學  -199229440     11421  -1.744413e+04
8         佛光大學 -1398800384      3458  -4.045114e+05
9         元智大學 -1768947712      8739  -2.024199e+05
10        南華大學  1807745024      5701   3.170926e+05
11      台灣首府大學   329252864      1130   2.913742e+05
12      國立中央大學 -1029701632     11938  -8.625412e+04
13      國立中山大學  1383071744      9706   1.424966e+05
14      國立中正大學 -1250951168     11128  -1.124147e+05
15      國立中興大學  -568328192     14974  -3.795433e+04
16      國立交通大學  1241513984     15182   8.177539e+04
17      國立嘉義大學   437256192     11689   3.740749e+04
18      國立宜蘭大學  -486539264      5476  -8.884939e+04
19      國立屏東大學  1231028224      9027   1.363718e+05
20    國立彰化師範大學 -1820327936      8453  -2.153470e+05
21      國立成功大學  -352321536     21773  -1.618158e+04
22      國立政治大學    53477376     16351   3.270587e+03
23    國立暨南國際大學    28311552      6016   4.706043e+03
24      國立東華大學  -475004928     10008  -4.746252e+04
25      國立清華大學  1241513984     16917   7.338854e+04
26      國立聯合大學   197132288      7559   2.607915e+04
27    國立臺中教育大學 -2060451840      4902  -4.203288e+05
28      國立臺北大學  1053818880     10080   1.045455e+05
29    國立臺北教育大學   -81788928      5885  -1.389786e+04
30    國立臺北藝術大學  1663041536      3144   5.289572e+05
31      國立臺南大學  2067791872      5773   3.581832e+05
32    國立臺南藝術大學 -1475346432      1599  -9.226682e+05
33      國立臺東大學 -2047868928      4939  -4.146323e+05
34      國立臺灣大學  1375731712     32527   4.229507e+04
35    國立臺灣師範大學  1126170624     15920   7.073936e+04
36    國立臺灣海洋大學   948961280      8905   1.065650e+05
37    國立臺灣藝術大學 -1556086784      5545  -2.806288e+05
38  國立臺灣體育運動大學  1034944512      3122   3.315005e+05
39      國立金門大學   934281216      4131   2.261635e+05
40      國立陽明大學  1121976320      4534   2.474584e+05
41      國立體育大學  1304428544      2586   5.044194e+05
42      國立高雄大學 -1351614464      5741  -2.354319e+05
43    國立高雄師範大學  2090860544      6845   3.054581e+05
44        大同大學  -452984832      4012  -1.129075e+05
45        大葉大學  -817889280      7770  -1.052625e+05
46        實踐大學  1451229184     13216   1.098085e+05
47        康寧大學 -1880096768      3465  -5.425965e+05
48        慈濟大學  -319815680      3383  -9.453612e+04
49        明道大學  1950351360      2525   7.724164e+05
50        東吳大學  1216348160     15374   7.911722e+04
51        東海大學   375390208     15710   2.389498e+04
52      法鼓文理學院  1859125248       302   6.156044e+06
53        淡江大學 -1380974592     24209  -5.704385e+04
54        玄奘大學 -1143996416      2408  -4.750816e+05
55        真理大學 -2069889024      5255  -3.938894e+05
56   稻江科技暨管理學院   715128832       276   2.591046e+06
57        義守大學  1046478848     14351   7.292027e+04
58      臺北市立大學  1971322880      7986   2.468473e+05
59      臺北醫學大學  1665138688      5993   2.778473e+05
60        華梵大學   695205888      1165   5.967433e+05
61        輔仁大學  -333447168     25651  -1.299938e+04
62        逢甲大學 -1304428544     21059  -6.194162e+04
63        銘傳大學   612368384     18614   3.289827e+04
64        長庚大學   387973120      6811   5.696273e+04
65        長榮大學  1884291072      8248   2.284543e+05
66        開南大學    32505856      5587   5.818124e+03
67        靜宜大學 -1107296256     12018  -9.213648e+04
68       馬偕醫學院  1126170624       816   1.380111e+06
69      高雄醫學大學 -1069547520      6490  -1.647993e+05

2023企業最愛大學排名TOP10：

In [123]:
Favorite_University_Ranking = pd.read_csv('Cooperate Favorite University Ranking.csv')
new_column_names = ['Ranking', 'Name']
Favorite_University_Ranking.columns = new_column_names
Favorite_University_Ranking = Favorite_University_Ranking.drop(0)
Favorite_University_Ranking

   Ranking    Name
1        1    成功大學
2        2   台灣大學
3        3    清華大學
4        4  陽明交通大學
5        5    政治大學
6        6    中山大學
7        7    中央大學
8        8  台灣科技大學
9        9  台北科技大學
10      10    淡江大學

2023企業最愛大學排名-類科排名TOP3：

In [124]:
Favorite_University_Ranking_Category = pd.read_csv('Cooperate Favorite University Ranking_Category.csv')
Favorite_University_Ranking_Category

,Ranking,社會人文類大學排名,法政類大學排名,商管類大學排名,資訊類大學排名,觀光休閒類大學排名,數理化類大學排名,工程類大學排名,設計/建築類大學排名,醫衛/生技類大學排名
0,1,政治大學,台灣大學,政治大學,清華大學,高雄餐旅大學,清華大學,成功大學,成功大學,台灣大學
1,2,台灣大學,台北大學,台灣大學,陽明交通大學,文化大學,台灣大學,清華大學,台北科技大學,陽明交通大學
2,3,成功大學,政治大學,成功大學,台灣大學,龍華科技大學,成功大學,台灣科技大學,台灣大學,台北護理健康大學

QS 世界大學排名 TOP 500：

In [125]:
QS_University_Ranking = pd.read_csv('QS World University Ranking.csv')
QS_University_Ranking

,Name,English Name,2023 Ranking,2022 Ranking
0,國立臺灣大學,National Taiwan University,77,68
1,國立清華大學,National Tsing Hua University,177,180
2,國立陽明交通大學,National Yang Ming Chiao Tung University,202,268
3,國立成功大學,National Cheng Kung University,222,252
4,國立臺灣科技大學,National Taiwan University of Science and Tech...,327,314
5,國立臺灣師範大學,National Taiwan Normal University,332,334
6,臺北醫學大學,Taipei Medical University,384,407
7,國立中山大學,National Sun Yat-sen University,428,412
8,國立臺北科技大學,National Taipei University of Technology,436,469
9,長庚大學,Chang Gung University,475,480

In [126]:
QS_University_Ranking_2023 = QS_University_Ranking[['Name', 'English Name', '2023 Ranking']]
QS_University_Ranking_2023

       Name                                       English Name  2023 Ranking
0    國立臺灣大學                        National Taiwan University             77
1   國立清華大學                      National Tsing Hua University            177
2  國立陽明交通大學           National Yang Ming Chiao Tung University           202
3    國立成功大學                    National Cheng Kung University            222
4  國立臺灣科技大學  National Taiwan University of Science and Tech...           327
5  國立臺灣師範大學                  National Taiwan Normal University           332
6    臺北醫學大學                          Taipei Medical University           384
7    國立中山大學                   National Sun Yat-sen University            428
8  國立臺北科技大學           National Taipei University of Technology           436
9      長庚大學                              Chang Gung University           475

In [127]:
QS_University_Ranking_2022 = QS_University_Ranking[['Name', 'English Name', '2022 Ranking']]
QS_University_Ranking_2022

       Name                                       English Name  2022 Ranking
0    國立臺灣大學                        National Taiwan University             68
1   國立清華大學                      National Tsing Hua University            180
2  國立陽明交通大學           National Yang Ming Chiao Tung University           268
3    國立成功大學                    National Cheng Kung University            252
4  國立臺灣科技大學  National Taiwan University of Science and Tech...           314
5  國立臺灣師範大學                  National Taiwan Normal University           334
6    臺北醫學大學                          Taipei Medical University           407
7    國立中山大學                   National Sun Yat-sen University            412
8  國立臺北科技大學           National Taipei University of Technology           469
9      長庚大學                              Chang Gung University           480

2019台灣大學排名(前50)：

In [239]:
df_rank = pd.read_csv('50 University Rank.csv')
df_rank

    Rank      Name      總分  A.學術成就  B.教學環境  C.國際化程度  D.產學績效
0      1    國立臺灣大學  100.00  100.00  100.00   100.00  100.00
1      2    國立清華大學   67.63   64.14   59.49    84.43   77.98
2      3    國立成功大學   67.03   59.69   66.65    77.24   74.84
3      4    國立交通大學   65.55   54.92   62.16    87.87   75.95
4      5  國立臺灣師範大學   60.90   55.28   56.36    80.56   64.95
5      6    臺北醫學大學   59.54   51.59   59.22    77.87   60.54
6      7    國立政治大學   59.29   52.43   53.99    95.12   51.82
7      8    國立陽明大學   58.02   59.87   54.47    62.00   58.04
8      9    國立中山大學   56.78   50.63   51.86    76.77   62.64
9     10    國立中興大學   56.76   47.82   56.88    69.87   64.22
10    11    國立中央大學   56.61   53.74   54.77    60.39   63.83
11    12      長庚大學   56.47   56.02   55.96    62.69   52.53
12    13    中國醫藥大學   55.91   53.97   55.96    65.79   50.45
13    14  國立臺灣科技大學   55.51   47.42   50.13    80.00   62.45
14    15  國立臺北科技大學   54.02   46.64   52.62    67.62   60.89
15    16    高雄醫學大學   53.52   49.56   53.43    65.86   50.66
16    17      元智大學   49.75   44.99   44.89    73.91   48.02
17    18      淡江大學   48.18   27.49   48.40    97.09   47.03
18    19      世新大學   48.08   43.73   44.97    70.62   42.96
19    20      逢甲大學   46.53   25.79   49.93    86.63   46.90
20    21      輔仁大學   45.98   29.40   49.67    79.06   43.00
21    22    國立中正大學   45.74   49.50   29.31    64.68   56.36
22    23      東海大學   45.26   26.21   48.91    79.99   46.46
23    24  國立高雄科技大學   45.19   25.35   49.24    64.14   63.12
24    25  國立臺灣海洋大學   44.80   25.67   49.42    66.58   56.91
25    26      中原大學   44.74   26.11   48.45    74.46   49.84
26    27    國立臺北大學   44.63   29.49   47.96    67.08   49.74
27    28      亞洲大學   44.27   48.38   26.45    76.93   43.58
28    29    中國文化大學   44.26   26.48   43.76    78.58   52.59
29    30  國立雲林科技大學   43.72   44.60   27.73    66.14   56.57
30    31      銘傳大學   43.64   26.64   44.49    79.11   45.86
31    32  國立彰化師範大學   43.55   26.42   48.91    60.97   53.58
32    33  國立屏東科技大學   43.49   24.84   46.38    66.61   57.15
33    34      東吳大學   43.34   27.89   47.47    73.46   39.66
34    35  國立臺中教育大學   42.41   45.87   28.48    61.10   48.14
35    36      實踐大學   42.22   25.27   44.31    79.61   39.48
36    37  國立臺北商業大學   41.00   23.08   47.38    59.50   49.45
37    38  國立臺北教育大學   40.93   25.51   47.93    53.29   48.19
38    39    明新科技大學   38.61   21.96   44.02    61.58   41.86
39    40      真理大學   38.19   23.94   43.66    58.20   38.62
40    41  國立虎尾科技大學   38.13   41.98   24.84    46.09   52.19
41    43    國立東華大學   37.04   27.75   28.03    61.66   55.10
42    44      慈濟大學   36.80   27.04   31.48    64.59   44.16
43    45    臺北市立大學   36.41   27.36   29.03    62.61   48.56
44    46      中華大學   36.00   23.32   25.97    78.64   46.39
45    47      義守大學   35.88   24.40   25.62    74.40   48.09
46    48      靜宜大學   35.73   25.20   24.13    80.76   42.31
47    49    國立宜蘭大學   35.72   24.64   28.32    64.13   50.42
48    50    國立高雄大學   35.58   24.27   27.30    67.45   49.43

學術成就：

In [128]:
academic_achivement = pd.read_csv('academic achivement.csv')

In [129]:
print("原始欄位名稱：", academic_achivement.columns)

原始欄位名稱： Index(['排名', '學校名稱', '總分', '獲獎/榮譽', '英文論文數', '師均英文', '中文論文數', '師均中文'], dtype='object')

In [130]:
new_column_names = ['Rank', 'Name', 'Score', 'Awards/Honored Students', 'Number of English Papers', 'Number of English Papers/Teachers', 'Number of Chinese Papers', 'Number of Chinese Papers/Teachers']
academic_achivement.columns = new_column_names

In [131]:
academic_achivement=academic_achivement.drop(0)

In [132]:
academic_achivement

,Rank,Name,Score,Awards/Honored Students,Number of English Papers,Number of English Papers/Teachers,Number of Chinese Papers,Number of Chinese Papers/Teachers
1,1.0,國立臺灣大學,100.00,100,100.00,77.11,100.00,70.98
2,2.0,國立清華大學,64.14,60.99,55.79,68.39,55.74,62.99
3,3.0,國立陽明大學,59.87,36.61,58.92,100,58.53,100
4,4.0,國立成功大學,59.69,48.31,65.97,67.62,64.11,59.46
5,5.0,長庚大學,56.02,40.51,64.20,92.75,48.26,59.78
6,6.0,國立臺灣師範大學,55.28,39.54,45.70,55.41,75.18,89.26
7,7.0,國立交通大學,54.92,48.31,55.21,70.35,46.27,51.49
8,8.0,中國醫藥大學,53.97,35.63,61.12,95.01,48.86,65.85
9,9.0,國立中央大學,53.74,43.44,51.68,68.15,52.05,64.26
10,10.0,國立政治大學,52.43,37.59,40.62,49.77,70.79,91.76
11,11.0,臺北醫學大學,51.59,37.59,57.59,79.24,47.96,57.98
12,12.0,國立中山大學,50.63,37.59,48.86,67.92,51.25,69.53
13,13.0,高雄醫學大學,49.56,36.61,53.33,74.81,46.37,57.13
14,14.0,國立中正大學,49.50,36.61,41.83,53.46,57.63,81.34
15,15.0,亞洲大學,48.38,35.63,46.09,68.33,46.67,67.99
16,16.0,國立中興大學,47.82,37.59,49.77,61.73,48.16,53.44
17,17.0,國立臺灣科技大學,47.42,37.59,47.92,67.01,43.38,52.88
18,18.0,國立臺北科技大學,46.64,35.63,47.15,66.68,44.07,55.79
19,19.0,國立臺中教育大學,45.87,35.63,38.07,48.22,43.77,82.13
20,20.0,元智大學,44.99,34.66,41.73,59.39,42.98,62.49

教學環境：

In [133]:
teaching_environment = pd.read_csv('teaching environment.csv')

In [134]:
print("原始欄位名稱：", teaching_environment.columns)

原始欄位名稱： Index(['排名', '學校名稱', '總分', '傑出校友', '學校總經費', '學生平均', '註冊率', '生師比'], dtype='object')

In [135]:
new_column_names = ['Rank', 'Name', 'Score', 'Distinguished Alumni', 'Total Fund', 'Total Fund/students', 'Registration Rate', 'Students/Teachers']
teaching_environment.columns = new_column_names

In [136]:
teaching_environment=teaching_environment.drop(0)

In [137]:
teaching_environment

,Rank,Name,Score,Distinguished Alumni,Total Fund,Total Fund/students,Registration Rate,Students/Teachers
1,1.0,國立臺灣大學,100.00,100,82.98,87.06,88.38,100.00
2,2.0,國立成功大學,66.65,67.44,72.78,86.68,87.34,53.08
3,3.0,國立交通大學,62.16,55.64,72.71,80.41,91.86,49.05
4,4.0,國立清華大學,59.49,53.87,65.23,77.31,92.88,46.85
5,5.0,臺北醫學大學,59.22,49.74,99.85,100,94.60,35.85
6,6.0,國立中興大學,56.88,51.23,64.81,84.03,89.27,42.45
7,7.0,國立臺灣師範大學,56.36,54.4,67.95,83.59,87.75,40.25
8,8.0,中國醫藥大學,55.96,51.57,94.23,86.36,84.89,34.76
9,9.0,長庚大學,55.96,52.46,100.00,94.64,68.08,34.39
10,10.0,國立中央大學,54.77,51.32,71.90,83.72,86.50,37.69
11,11.0,國立陽明大學,54.47,42.21,88.74,97.5,70.67,36.22
12,12.0,國立政治大學,53.99,47.81,57.77,73.64,89.26,41.72
13,13.0,高雄醫學大學,53.43,45.03,78.73,94.32,63.94,37.32
14,14.0,國立臺北科技大學,52.62,43.24,55.54,73.67,80.72,42.45
15,15.0,國立中山大學,51.86,45.87,68.91,82.87,82.98,35.49
16,16.0,國立臺灣科技大學,50.13,44.1,60.51,68.89,94.35,35.49
17,17.0,逢甲大學,49.93,49.69,55.16,51.63,83.13,39.52
18,18.0,輔仁大學,49.67,50.76,52.22,50.71,78.52,40.25
19,19.0,國立臺灣海洋大學,49.42,41.7,61.39,79.49,77.32,35.49
20,20.0,國立高雄科技大學,49.24,50.93,52.09,61.17,91.86,35.49

國際化程度：

In [138]:
degree_of_internationalization = pd.read_csv('degree of internationalization.csv')

In [139]:
print("原始欄位名稱：", degree_of_internationalization.columns)

原始欄位名稱： Index(['排名', '學校名稱', '總分', '本國學生', '跨國學位', '國際學生', '國際教師', '國際合著'], dtype='object')

In [140]:
new_column_names = ['Rank', 'Name', 'Score', 'Numbers of Exchanging Domestic Students', 'Numbers of Cooperating Transnational Degrees Schools', 'International Students Rate', 'International Teachers', 'Proportion of International Co-Authored Papers']
degree_of_internationalization.columns = new_column_names

In [141]:
degree_of_internationalization=degree_of_internationalization.drop(0)

In [142]:
degree_of_internationalization

,Rank,Name,Score,Numbers of Exchanging Domestic Students,Numbers of Cooperating Transnational Degrees Schools,International Students Rate,International Teachers,Proportion of International Co-Authored Papers
1,1.0,國立臺灣大學,100.00,77.97,82.26,61.24,66.71,100
2,2.0,淡江大學,97.09,83.77,77.89,76.6,76.42,83.09
3,3.0,國立政治大學,95.12,81.73,85.41,76.88,77.8,76.37
4,4.0,國立交通大學,87.87,75.73,80.62,75.08,100,56.84
5,5.0,逢甲大學,86.63,77.37,77.13,61.41,100,60.55
6,6.0,國立清華大學,84.43,85.51,79.41,69.4,86.13,54.51
7,7.0,文藻外語大學,81.07,97.66,60.54,100,50.06,51.65
8,8.0,靜宜大學,80.76,76.32,67.52,80.21,62.54,59.34
9,9.0,國立臺灣師範大學,80.56,74.29,85.01,62.36,76.42,55.31
10,10.0,國立臺灣科技大學,80.00,72.42,100,75.71,61.16,50.16
11,11.0,東海大學,79.99,72.76,73.02,85.3,69.48,52.17
12,12.0,實踐大學,79.61,95.97,67.09,78.78,70.87,47.3
13,13.0,銘傳大學,79.11,65.65,91.05,73.42,65.32,53.14
14,14.0,輔仁大學,79.06,58.71,68.55,73.46,73.64,60.06
15,15.0,中華大學,78.64,83.11,64.42,53.17,75.03,59.74
16,16.0,中國文化大學,78.58,66.61,69.21,65.38,72.25,59.9
17,17.0,臺北醫學大學,77.87,65.98,89.88,51.66,66.71,59.3
18,18.0,國立成功大學,77.24,67.38,80.43,54.25,87.51,51.33
19,19.0,亞洲大學,76.93,78.04,62.56,64.74,66.71,57.21
20,20.0,國立中山大學,76.77,77.26,70.12,80.1,59.77,50.93

產學績效：

In [143]:
industry_university_performance = pd.read_csv('industry-university performance.csv')

In [144]:
print("原始欄位名稱：", industry_university_performance.columns)

原始欄位名稱： Index(['排名', '學校名稱', '總分', '推廣及', '師均推廣', '智慧財產權', '美國核准', '臺灣核准'], dtype='object')

In [145]:
new_column_names = ['Rank', 'Name', 'Score', 'Promotion and Industry-University Income', 'Promotion and Industry-University Income/Teachers', 'Total Amount of Derivative Use of Intellectual Property Rights', 'Number of Invention Patents Approved by USA', 'Number of Invention Patents Approved by Taiwan']
industry_university_performance.columns = new_column_names

In [146]:
industry_university_performance=industry_university_performance.drop(0)

In [147]:
industry_university_performance

,Rank,Name,Score,Promotion and Industry-University Income,Promotion and Industry-University Income/Teachers,Total Amount of Derivative Use of Intellectual Property Rights,Number of Invention Patents Approved by USA,Number of Invention Patents Approved by Taiwan
1,1.0,國立臺灣大學,100.00,100,100,100,84.17,80.39
2,2.0,國立清華大學,77.98,57.45,91.22,77.17,100,100
3,3.0,國立交通大學,75.95,59.09,98.8,74.33,75.23,71.06
4,4.0,國立成功大學,74.84,69.97,91.3,57.22,60.78,90.66
5,5.0,國立臺灣師範大學,64.95,57.95,91.39,46.37,51.14,63.59
6,6.0,國立中興大學,64.22,55.02,88.88,54.03,42.88,64.05
7,7.0,國立中央大學,63.83,55.1,95.9,44.64,50.45,54.25
8,8.0,國立高雄科技大學,63.12,54.74,84.69,51.07,44.26,72.92
9,9.0,國立中山大學,62.64,50.07,91.46,48.94,49.08,70.59
10,10.0,國立臺灣科技大學,62.45,48.45,88.38,53.11,53.89,69.19
11,11.0,國立臺北科技大學,60.89,47.65,88.04,52.71,44.95,64.05
12,12.0,臺北醫學大學,60.54,41.29,65.1,93.8,42.88,46.78
13,13.0,國立陽明大學,58.04,46.7,89.59,43.84,45.64,50.51
14,14.0,國立屏東科技大學,57.15,45.59,85.39,45.9,41.51,57.52
15,15.0,國立臺灣海洋大學,56.91,46.23,87.26,44.74,40.13,48.65
16,16.0,國立雲林科技大學,56.57,45.73,85.88,44.37,40.13,52.85
17,17.0,國立中正大學,56.36,47.19,82.05,44.51,44.26,49.58
18,18.0,國立東華大學,55.10,46.13,82.84,42.53,40.13,45.85
19,19.0,國立暨南國際大學,53.79,41.98,81.8,42.52,44.26,50.51
20,20.0,國立彰化師範大學,53.58,43.38,80.08,42.82,40.13,49.11

搜尋資料：

In [179]:
data = pd.DataFrame(QS_University_Ranking_2023)

In [180]:
data[data['English Name']=='National Yang Ming Chiao Tung University']

       Name                              English Name  2023 Ranking
2  國立陽明交通大學  National Yang Ming Chiao Tung University           202

In [237]:
df_rank.to_csv("./df_rank.csv", index=False, encoding="BIG5")

In [238]:
result.to_csv("./result.csv", index=False, encoding="BIG5")